<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Capture Image and Send Request</title>
</head>
<body>
<video id="video" width="640" height="480" autoplay></video>
<button id="snap">Snap Photo</button>
<canvas id="canvas" width="640" height="480"></canvas>

<script>
    var video = document.getElementById('video');
    if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
            video.srcObject = stream;
            video.play();
        });
    }

    var canvas = document.getElementById('canvas');
    var context = canvas.getContext('2d');
    var video = document.getElementById('video');

    // Trigger photo take
    document.getElementById("snap").addEventListener("click", function() {
        context.drawImage(video, 0, 0, 640, 480);
        var dataURI = canvas.toDataURL('image/jpeg');

        var xhr = new XMLHttpRequest();
        var formData = new FormData();
        xhr.open('POST', '/detectv5', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

        var body = JSON.stringify({
                        image: dataURI
                    });

        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                console.log(xhr.responseText);
            }
        };

        xhr.onload = function() {
            if (xhr.status === 200) {
                console.log('Image submitted successfully');
            } else {
                console.log('Error submitting image');
            }
        };

// Send the request with the JSON data in the request body
        console.log(JSON.stringify(body));
        xhr.send(body);

        // formData.append("image",encodeURIComponent(dataURI))
        // console.log(formData);
        // xhr.send(JSON.stringify({"image":encodeURIComponent(dataURI)}));


    });
</script>
</body>
</html>
